* {/*禁用长按选中文字或控件*/
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    outline: none;/*去掉黄色框*/
    /* -webkit-tap-highlight-color: rgba(255, 255, 255, 0); */
}
html, body{
    height: 100%;
    overflow: hidden;/*溢出则隐藏；注意：需要写在“html, body”里面，只写在body里会导致实测时仍然可以滚动*/
}
body{
    color: #fff;
    background-image: url("../img/bg_1.jpg");
    background-size: cover; 
}
.ui-index{
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -187.5px;
}
.ui-index h1{
    font-size: 50px;
    text-shadow: 2px 8px 2px #000;/*阴影*/
    text-align: center;
}
.ui-index .btn{
    display: block;
    color: #fff;
    font-size: 20px;
    background: none;
    border: 1px solid #999;
    border-radius: 6px;/*圆角*/
    width: 140px;
    margin: 0 auto 14px auto;/*上右下左*/
}
.ui-panel{
    width: 80%;
    background: #070808;
    padding: 14px;
    border: 2px solid #fff;
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    left: 10%;
    top: 50%;
    margin-top: -115px;
}
.ui-panel button{
    color: #fff;
    border: 1px solid #fff;
    background: none;
    font-size: 18px;
    border-radius: 3px;
}
.setting-group{
    list-style: none;
    padding: 0;
    width: auto;
}
.setting-group .setting{
    margin-bottom: 10px;
}
.setting-group select{
    border-radius: 0;
    width: 100px;
    margin-left: 10px;
    background: #fff;
}
/*ui默认是隐藏*/
.ui-index,
.ui-rule,
.ui-setting,
.ui-over{
    display: none;
}
/*游戏状态切换场景*/
[data-status="index"] .ui-index{
    display: block;
}
[data-status="setting"] .ui-setting{
    display: block;
}
[data-status="rule"] .ui-rule{
    display: block;
}
[data-status="over"] .ui-over{
    display: block;
}